# datasets
Training/
Testing/
Training_sinteticas/
imagenes_sinteticas_*/

# caches
*.data-00000-of-00001
*.index
train_cache*
val_cache*

# model weights
*.pt
*.pth
*.ckpt
*.h5
*.keras
ip_adapter_weights/

# images
*.jpg
*.jpeg
*.png

# python
__pycache__/
.ipynb_checkpoints/

# misc
*.err
EOF

.envEstudios/terminal/process.EfficientNetB3_augm_eliminados_9clases_completo2.2578.out
Estudios/terminal/process.EfficientNet_aug_9clases_train.2544.out
Estudios/terminal/process.EfficientNet_augm_eliminados3_train.2532.out
